<div class="container">
   <div class="ui menu secondary">
      <div class="header item logo">
         <a routerLink="/home">KubeControl</a>
      </div>
      <div class="item">
        Settings
      </div>
   </div>

   <sui-accordion class="styled fluid">
     <sui-accordion-panel [isOpen]="true">
       <div title>
         <i class="dropdown icon"></i>
         Kubectl
       </div>
       <div content scrolling>
         <div class="ui message">
           <pre>{{ rawConfig}}</pre>
         </div>
       </div>
     </sui-accordion-panel>
   </sui-accordion>

</div>
