<div class="ui fluid card">
  <div class="ui active inverted dimmer" *ngIf="loading">
    <div class="ui text loader">Loading</div>
  </div>
  <div class="content kb-header">
    <div class="header">Ingress</div>
  </div>
  <div class="content">
    <div class="ui message" *ngIf="notification" [ngClass]="notificationClass">
      <i class="close icon" (click)="closeNotification()"></i>
      <p>{{ notification }}</p>
    </div>
    <table class="ui celled table">
      <thead>
      <tr>
         <th *ngFor="let headerLabel of headerLabels">
           {{headerLabel}}
         </th>
      </tr>
     </thead>
     <tbody>
      <tr *ngFor="let ingress of data">
         <td>{{ingress.NAME}}</td>
         <td>{{ingress.HOSTS}}</td>
         <td>{{ingress.ADDRESS}}</td>
         <td>{{ingress.PORTS}}</td>
         <td>{{ingress.AGE}}</td>
         <td>
           <div class="ui dropdown" suiDropdown>
             <i class="ellipsis vertical icon"></i>
             <div class="menu" suiDropdownMenu>
               <div class="item" (click)="showDescribe(ingress.NAME)">Describe</div>
             </div>
           </div>
         </td>
      </tr>
     </tbody>
    </table>
  </div>
</div>
