<div class="ui fluid card">
  <div class="ui active inverted dimmer" *ngIf="loading">
    <div class="ui text loader">Loading</div>
  </div>
  <div class="content kb-header">
    <div class="header">Pods</div>
  </div>
  <div class="content">
    <table class="ui celled table">
      <thead>
      <tr>
         <th *ngFor="let headerLabel of headerLabels">
           {{headerLabel}}
         </th>
      </tr>
     </thead>
     <tbody>
      <tr *ngFor="let pod of data">
         <td>{{pod.NAME}}</td>
         <td>{{pod.READY}}</td>
         <td>{{pod.STATUS}}</td>
         <td>{{pod.RESTARTS}}</td>
         <td>{{pod.AGE}}</td>
         <td>
           <div class="ui dropdown" suiDropdown>
             <i class="ellipsis vertical icon"></i>
             <div class="menu" suiDropdownMenu>
               <div class="item" (click)="showDescribe(pod.NAME)">Describe</div>
               <div class="item" (click)="showLogs(pod.NAME)">Logs</div>
             </div>
           </div>
         </td>
      </tr>
     </tbody>
    </table>
  </div>
</div>
