<div class="container">
   <div class="ui menu secondary">
      <div class="header item logo">
         <a routerLink="/home">KubeControl</a>
      </div>
      <a class="item right" routerLink="/settings"><i class="setting icon"></i></a>
   </div>

   <div class="ui top attached tabular menu">
     <div class="item" [ngClass]="{'active': activeTab===i}" *ngFor="let tab of tabs; let i = index" (click)="setCurrentContext(tab.context, i)">
       {{ tab.context }}
       <div class="ui dropdown" suiDropdown>
         <i class="dropdown icon"></i>
         <div class="menu" suiDropdownMenu>
           <div class="item" *ngFor="let availableContext of availableContexts" (click)="setTabContext(availableContext.name, i)">{{ availableContext.name }}</div>
         </div>
       </div>
     </div>
     <div class="item" [ngClass]="{'active': activeTab===null}" (click)="addContext()">
        +
     </div>
   </div>
   <div class="ui bottom attached segment">
     <context-container context="{{tab.context}}" *ngFor="let tab of tabs; let i = index" [hidden]="activeTab!==i"></context-container>
     <context-table-selector *ngIf="activeTab===null" (onSelection)="addTab($event)"></context-table-selector>
   </div>
</div>
