<div class="container">
   <div class="ui menu secondary">
      <div class="header item">
         KubeControl
      </div>
      <a class="item right"><i class="setting icon"></i></a>
   </div>

   <div class="ui top attached tabular menu">
     <a class="item" [ngClass]="{'active': activeTab===i}" *ngFor="let tab of tabs; let i = index" (click)="setCurrentContext(tab.context, i)">
       {{ tab.context }}
     </a>
     <a class="item" [ngClass]="{'active': activeTab===null}" (click)="addContext()">
        +
     </a>
   </div>
   <div class="ui bottom attached segment">
     <context-container context="{{tab.context}}" *ngFor="let tab of tabs; let i = index" [hidden]="activeTab!==i"></context-container>
   </div>
</div>
