<div class="container">
   <div class="ui menu secondary">
      <div class="header item">
         KubeControl
      </div>
      <a class="item right"><i class="setting icon"></i></a>
   </div>

   <div class="ui top attached tabular menu">
     <div class="item" [ngClass]="{'active': activeTab===i}" *ngFor="let tab of tabs; let i = index" (click)="setCurrentContext(tab.context, i)">
       {{ tab.context }}
       <div class="ui dropdown" suiDropdown>
         <i class="dropdown icon"></i>
         <div class="menu" suiDropdownMenu>
           <div class="item" *ngFor="let availableContext of availableContexts" (click)="setTabContext(availableContext.name, i)">{{ availableContext.name }}</div>
         </div>
       </div>
     </div>
     <div class="item" [ngClass]="{'active': activeTab===null}" (click)="addContext()">
        +
     </div>
   </div>
   <div class="ui bottom attached segment">
     <context-container context="{{tab.context}}" *ngFor="let tab of tabs; let i = index" [hidden]="activeTab!==i"></context-container>

     <table class="ui selectable celled table" [hidden]="activeTab!==null">
       <thead>
         <tr>
           <th>Name</th>
           <th>Cluster</th>
           <th>Auth Info</th>
           <th>Namespace</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let availableContext of availableContexts" [ngClass]="{'positive': availableContext.current}" (click)="addTab(availableContext.name)">
           <td>{{ availableContext.name }}</td>
           <td>{{ availableContext.cluster }}</td>
           <td>{{ availableContext.authinfo }}</td>
           <td>{{ availableContext.namespace }}</td>
         </tr>
       </tbody>
     </table>
   </div>
</div>
