<div class="ui grid">
  <div class="twelve wide column">
    <h2 class="ui header">
      <i class="cube icon"></i>
      <div class="content">
        {{ kubeContext.name }}
        <div class="sub header">{{ kubeContext.namespace }} ({{ kubeContext.cluster }})</div>
      </div>
    </h2>
  </div>
  <div class="four wide column">
    <div class="ui text menu">
      <div class="right menu">
        <div class="header item">Last Updated {{lastUpdated | date:'mediumTime'}}</div>
        <a class="item" (click)="refreshData()">
          <i class="refresh icon"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="sixteen wide tablet eight wide computer column">
    <pod-status-table [context]="context" [refreshListener]="refresherSubject"></pod-status-table>
    <deployment-manager [context]="context" [refreshListener]="refresherSubject"></deployment-manager>
    <replicaset-manager [context]="context" [refreshListener]="refresherSubject"></replicaset-manager>
  </div>
  <div class="sixteen wide tablet eight wide computer column">
    <service-manager [context]="context" [refreshListener]="refresherSubject"></service-manager>
    <ingress-manager [context]="context" [refreshListener]="refresherSubject"></ingress-manager>
  </div>
</div>
