/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

.ui.secondary.menu .item {
  font-size: 1.2rem;

  &.logo {
    font-family: 'Poiret One', cursive;

    background-color: teal;
    color: white;

    a {
      color: white;
    }
  }
}
